nextflow.enable.dsl=2

// Pipeline input parameters
params {

    // Input files
    input_files = "${projectDir}/"
    databases = "${projectDir}/"

    // Machine options
    cluster_options_general = ""
    gpu_allocated = "--gpus-per-node=V100:1"
    DORADO_device = "cuda:0"

    // Output
    storeDir = "${projectDir}/Store"
    directory_out = "${projectDir}/Results"

    // Process settings
    diamond_id = 90
    diamond_subject_cov = 80
    filtlong_min_lenght = 6000 
    filtlong_keep_percent = 90
    DORADO_kit = ""
    DORADO_model = 'sup'
    GTDB_db = "https://data.ace.uq.edu.au/public/gtdb/data/releases/latest/auxillary_files/gtdbtk_package/full_package/gtdbtk_data.tar.gz"
    path_gtdb_tk_db = "${params.storeDir}/Data_in/GTDB_tk/release220"
    mmseq2_db = ""
    min_nr_seq = 100

    // Which part to run
    Basecalling = true
    Assembly = true
    Taxonomy = false
    ARG_Mapping = true
    BLASTX = true
}

apptainer {
    cacheDir = "${projectDir}/Containers"
    pullTimeout = "1h"
    apptainer.enabled = true
    autoMounts = true
}

profiles {
    server {
        process.cache = true 
        process.executor = 'local'

    }
    cluster {
        process.cache = true
        process.executor = 'slurm'
        process.scratch = true 
    }
}

process {

    withName:DORADO_BASECALL {
        cpus = 1
        clusterOptions = "${params.cluster_options_general} ${params.gpu_allocated}"
        container = "${projectDir}/Containers/dorado.sif"
        time = '70m'
        storeDir = "${params.storeDir}/Dorado/"
        publishDir = "${params.directory_out}/Dorado/"
        errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:DORADO_DEMULTIPLEX {
        cpus = 10
        clusterOptions = "${"${params.cluster_options_general}"}"
        container = "${projectDir}/Containers/dorado.sif"
        time = '30m'
        storeDir = "${params.storeDir}/Dorado_demultiplex/"
        errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:FILTLONG {
        cpus = 5
        clusterOptions = "${params.cluster_options_general}"
        time = '10m'
        container = "${projectDir}/Containers/Filtlong.sif"
        publishDir = "${params.directory_out}/Filtlong/"
        storeDir = "${params.storeDir}/Filtlong/"
        errorStrategy = { task.attempt > 2 ? 'ignore' : 'retry' }
    }

    withName:COUNT_FASTQ_ENTRIES {
        cpus = 10
        clusterOptions = "${"${params.cluster_options_general}"}"
        container = "${projectDir}/Containers/Biopython.sif"
        time = '30m'
        storeDir = "${params.storeDir}/Filtlong/"
        publishDir = "${params.directory_out}/Filtlong/"
        errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:PYCOQC {
        cpus = 5
        clusterOptions = "${params.cluster_options_general}"
        container = "${projectDir}/Containers/PycoQC.sif"
        time = '2m'
        storeDir = "${params.storeDir}/Demultiplexed/"
        publishDir = "${params.directory_out}/pycoQC/"
        errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:FLYE {
        cpus = 15
        clusterOptions = "${params.cluster_options_general}"
        time = '5h'
        container = "${projectDir}/Containers/Flye.sif"
        storeDir = "${params.storeDir}/Flye/"
        publishDir = "${params.directory_out}/Flye/"
        errorStrategy = { task.exitStatus in [1] ? 'ignore' : 'terminate' }
    }

    withName:MEDAKA {
        cpus = 10
        clusterOptions = "${params.cluster_options_general}"
        time = '30m'
        container = "${projectDir}/Containers/Medaka.sif"
        storeDir = "${params.storeDir}/Medaka/"
        publishDir = "${params.directory_out}/Medaka/"
        errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:CHECKM2_DATABASEDOWNLOAD {
        cpus = 1
        clusterOptions = "${params.cluster_options_general}"
        time = '10m'
        container = "${projectDir}/Containers/CheckM2.sif"
        storeDir = "${params.storeDir}/CheckM2_DB/"
        errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:CHECKM2 {
        cpus = 10
        clusterOptions = "${params.cluster_options_general}"
        time = '20m'
        container = "${projectDir}/Containers/CheckM2.sif"
        storeDir = "${params.storeDir}/CheckM2/"
        publishDir = "${params.directory_out}/CheckM2/"
        errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:RGI {
        cpus = 10
        clusterOptions = "${params.cluster_options_general}"
        time = '5m'
        container = "${projectDir}/Containers/RGI.sif"
        storeDir = "${params.storeDir}/RGI/"
        publishDir = "${params.directory_out}/RGI/"
        errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:PRODIGAL {
        cpus = 1
        clusterOptions = "${params.cluster_options_general}"
        time = '5m'
        container = "${projectDir}/Containers/dorado.sif"
        storeDir = "${params.storeDir}/Prodigal/"
        publishDir = "${params.directory_out}/Prodigal/"
        errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:DIAMOND_MAKEDB {
        cpus = 1
        clusterOptions = "${params.cluster_options_general}"
        time = '1m'
        container = "${projectDir}/Containers/Diamond.sif"
        storeDir = "${params.storeDir}/Diamond_DB/"

       errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:DIAMOND_BLASTP {
        cpus = 10
        clusterOptions = "${params.cluster_options_general}"
        time = '5m'
        container = "${projectDir}/Containers/Diamond.sif"
        storeDir = "${params.storeDir}/Diamond_Blastp/"
        publishDir = "${params.directory_out}/Diamond_Blastp/"
        errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:GTDB_TK {
        cpus = 10
        clusterOptions = "${params.cluster_options_general}"
        time = '2h'
        container = "${projectDir}/Containers/GTDBTK.sif"
        storeDir = "${params.storeDir}/GTDB_TK/"
        publishDir = "${params.directory_out}/GTDB_TK/"
        errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:GTDB_TK_MAKEDB {
        cpus = 1
        clusterOptions = "${params.cluster_options_general}"
        time = '8h'
        container = "${projectDir}/Containers/GTDBTK.sif"
        storeDir = "${params.storeDir}/GTDB_TK_db/"
        errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:MMSEQS2_MAKEDB {
        cpus = 10
        clusterOptions = "${params.cluster_options_general}"
        time = '170m'
        container = "${projectDir}/Containers/MMseqs2.sif"
        storeDir = "${params.storeDir}/mmseqs2/"
        errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

     withName:MMSEQS2_CLASSIFY {
        cpus = 10
        clusterOptions = "${params.cluster_options_general}"
        time = '550m'
        container = "${projectDir}/Containers/MMseqs2.sif"
        storeDir = "${params.storeDir}/mmseqs2/"
        publishDir = "${params.directory_out}/mmseqs2/"
        errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

     withName:BUSCO {
        cpus = 10
        clusterOptions = "${params.cluster_options_general}"
        time = '4h'
        container = "ezlabgva/busco:v5.7.0_cv1"
        storeDir = "${params.storeDir}/mmseqs2/"
        publishDir = "${params.directory_out}/Busco/"
        errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }
}