nextflow.enable.dsl=2

// Pipeline input parameters
params {

    // Input files
    reads = "${projectDir}/Data_in/Dani/pod5/*.pod5"
    fasta_input = "${params.storeDir}/Dorado/*fasta"
    databases = "${projectDir}/db/*"

    // Machine options
    cluster_options_general = ""
    gpu_allocated = ""
    DORADO_device = "gpu"

    // Output
    storeDir = "${projectDir}/Store"
    directory_out = "${projectDir}/Results"

    // Process settings
    diamond_id = 90
    diamond_subject_cov = 80
    filtlong_min_lenght = 6000 
    filtlong_keep_percent = 90
    DORADO_kit = "SQK-RBK114-24"
    DORADO_model = 'sup'
    GTDB_db = "https://data.ace.uq.edu.au/public/gtdb/data/releases/latest/auxillary_files/gtdbtk_package/full_package/gtdbtk_data.tar.gz"
    mmseq2_db = "SILVA"

    // Which part to run
    Basecalling = true
    Assembly = true
    Taxonomy = true
    ARG_Mapping = true
    BLASTX = true
}

report.overwrite = true

// where containers are downloaded
apptainer.cacheDir = "${projectDir}/Containers"

profiles {
    server {
        process.cache = true 
        process.executor = 'local'
        apptainer.enabled = true
        apptainer.autoMounts = true

    }
    cluster {
        process.cache = true
        process.executor = 'slurm'
        process.scratch = true
        apptainer.enabled = true
        apptainer.autoMounts = true   
    }
}

process {

    withName:DORADO_BASECALL {
        cpus = 1
       // clusterOptions = "${"${params.cluster_options_general}"}"
        clusterOptions = "${params.cluster_options_general}\n#SBATCH ${params.gpu_allocated}"
        container = "${projectDir}/Containers/apptainer.sif"
        time = '7h'
        storeDir = "${params.storeDir}/Dorado/"
        publishDir = "${params.directory_out}/Dorado/"
        errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:DORADO_DEMULTIPLEX {
        cpus = 10
        clusterOptions = "${"${params.cluster_options_general}"}"
        container = "${projectDir}/Containers/apptainer.sif"
        time = '30m'
        storeDir = "${params.storeDir}/Dorado_demultiplex/"
        maxRetries = 3
       errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:FILTLONG {
        cpus = 5
        clusterOptions = "${params.cluster_options_general}"
        time = '10m'
        container = "quay.io/biocontainers/filtlong:0.2.1--hdcf5f25_3"
        storeDir = "${params.storeDir}/Filtlong/"
        publishDir = "${params.directory_out}/Filtlong/"
        errorStrategy = { task.attempt > 4 ? 'ignore' : 'retry' }
    }

    withName:PYCOQC {
        cpus = 5
        clusterOptions = "${params.cluster_options_general}"
        container = "quay.io/biocontainers/pycoqc:2.5.2--py_0"
        time = '2m'
        storeDir = "${params.storeDir}/Demultiplexed/"
        publishDir = "${params.directory_out}/pycoQC/"
        maxRetries = 3
       errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:FLYE {
        cpus = 10
        clusterOptions = "${params.cluster_options_general}"
        time = '30m'
        container = "quay.io/biocontainers/flye:2.9.3--py39hd65a603_1"
        storeDir = "${params.storeDir}/Flye/"
        publishDir = "${params.directory_out}/Flye/"
        errorStrategy = { task.attempt > 2 ? 'ignore' : 'retry' }
    }

    withName:MEDAKA {
        cpus = 10
        clusterOptions = "${params.cluster_options_general}"
        time = '10m'
        container = "quay.io/biocontainers/medaka:1.11.3--py39h05d5c5e_0"
        storeDir = "${params.storeDir}/Medaka/"
        publishDir = "${params.directory_out}/Medaka/"
        maxRetries = 3
       errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:CHECKM2_DATABASEDOWNLOAD {
        cpus = 1
        clusterOptions = "${params.cluster_options_general}"
        time = '10m'
        container =  "quay.io/biocontainers/checkm2:1.0.1--pyh7cba7a3_0"
        storeDir = "${params.storeDir}/CheckM2_DB/"
        maxRetries = 3
       errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:CHECKM2 {
        cpus = 10
        clusterOptions = "${params.cluster_options_general}"
        time = '10m'
        container = "quay.io/biocontainers/checkm2:1.0.1--pyh7cba7a3_0"
        storeDir = "${params.storeDir}/CheckM2/"
        publishDir = "${params.directory_out}/CheckM2/"
        maxRetries = 3
       errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:RGI {
        cpus = 10
        clusterOptions = "${params.cluster_options_general}"
        time = '5m'
        container = "quay.io/biocontainers/rgi:6.0.3--pyha8f3691_1"
        storeDir = "${params.storeDir}/RGI/"
        publishDir = "${params.directory_out}/RGI/"
        maxRetries = 3
       errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:PRODIGAL {
        cpus = 1
        clusterOptions = "${params.cluster_options_general}"
        time = '1m'
        container = "${projectDir}/Containers/apptainer.sif"
        storeDir = "${params.storeDir}/Prodigal/"
        publishDir = "${params.directory_out}/Prodigal/"
        maxRetries = 3
       errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:DIAMOND_MAKEDB {
        cpus = 1
        clusterOptions = "${params.cluster_options_general}"
        time = '1m'
        container = "quay.io/biocontainers/diamond:2.1.9--h43eeafb_0"
        storeDir = "${params.storeDir}/Diamond_DB/"
        maxRetries = 3
       errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:DIAMOND_BLASTP {
        cpus = 10
        clusterOptions = "${params.cluster_options_general}"
        time = '1m'
        container = "quay.io/biocontainers/diamond:2.1.9--h43eeafb_0"
        storeDir = "${params.storeDir}/Diamond_Blastp/"
        publishDir = "${params.directory_out}/Diamond_Blastp/"
        maxRetries = 3
       errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:GTDB_TK {
        cpus = 10
        clusterOptions = "${params.cluster_options_general}"
        time = '1h'
        container = "quay.io/biocontainers/gtdbtk:2.4.0--pyhdfd78af_1"
        storeDir = "${params.storeDir}/GTDB_TK/"
        publishDir = "${params.directory_out}/GTDB_TK/"
        maxRetries = 3
       errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:GTDB_TK_MAKEDB {
        cpus = 10
        clusterOptions = "${params.cluster_options_general}"
        time = '1h'
        container = "quay.io/biocontainers/gtdbtk:2.4.0--pyhdfd78af_1"
        storeDir = "${params.storeDir}/GTDB_TK_db/"
        maxRetries = 3
       errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

    withName:MMSEQS2_MAKEDB {
        cpus = 10
        clusterOptions = "${params.cluster_options_general}"
        time = '170m'
        container = "quay.io/biocontainers/mmseqs2:15.6f452--pl5321h6a68c12_2"
        storeDir = "${params.storeDir}/mmseqs2/"
        maxRetries = 3
       errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

     withName:MMSEQS2_CLASSIFY {
        cpus = 10
        clusterOptions = "${params.cluster_options_general}"
        time = '550m'
        container = "quay.io/biocontainers/mmseqs2:15.6f452--pl5321h6a68c12_2"
        storeDir = "${params.storeDir}/mmseqs2/"
        publishDir = "${params.directory_out}/mmseqs2/"
        maxRetries = 3
       errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

     withName:BUSCO {
        cpus = 10
        clusterOptions = "${params.cluster_options_general}"
        time = '4h'
        container = "ezlabgva/busco:v5.7.0_cv1"
        storeDir = "${params.storeDir}/mmseqs2/"
        publishDir = "${params.directory_out}/Busco/"
        maxRetries = 3
       errorStrategy = { task.attempt > 1 ? 'terminate' : 'retry' }
    }

}